         #joao{
        color: black;
        margin: 40px;
        }
        .pão{
            text-decoration: none;
            margin: 10px;
            color: black;
        }
        li
        {
            color: black;
            text-decoration: none;
        }
        .nav-link{
            color: black;
        text-decoration: none;
        }
        #aaa{
            text-decoration: none;
            color: black;
            margin: 20px;
        }
        ul{
            color: black;
        }
        .container {
            display: inline;
            margin: 20px;
            padding: 20px;

        }
        .login-form {
            max-width: 300px;
            margin: 20px;
            padding: 20px;

        }
        .login-form input[type="email"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;

        }
        .login-form button {
            width: 100%;
            padding: 10px;
            background-color: #c300ff;
            color: white;
            border: none;
            cursor: pointer;
        }
        .login-form button:hover {
            background-color: #f7d1ff;
        }

        .Imagem{
            display: flex;
            width: 30%;
            height: 5%;
        }